.aggregated-chart .recharts-legend-wrapper {
    overflow: auto !important;
    @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: scroll !important;
        height: 100px !important;
    }
}